
<div id="main">
    <!-----------图片切换  begin----------->
    <div class="sub_box">
      <div class="sub_nav" id="p-select">
        <!--<div class="sub_more"><a href="/" onfocus="this.blur()" title="查看更多目的地旅游指南" style="font-family: Tahoma; font-size: 12px;" target="_blank">更多>></a></div>-->
        <div id="bd1lfsj" class="sub_no">
          <ul>
            <li class="">1</li>
            <li class="">2</li>
            <li class="">3</li>
            <li class="">4</li>
            <li class="">5</li>
          </ul>
        </div>
      </div>
      <div id="bd1lfimg">
        <div>
          <dl class="">
          </dl>
          <dl class="">
            <dt><a target="_blank" title="" href="#">
            <img alt="2011城市主题公园亲子游" src="images/toy_site/w1.jpg"></a></dt>
            <dd>
              <h2><a target="_blank" href="#">2011城市主题公园亲子游</a></h2>
              <tt><a target="_blank" href="#">又是春游踏青的季节各大主题乐园都为大朋友小朋友们准备了丰</a></tt> </dd>
          </dl>
          <dl class="">
            <dt><a target="_blank" title="" href="#"><img alt="潜入城市周边清幽之地" src="images/toy_site/w2.jpg"></a></dt>
            <dd>
              <h2><a target="_blank" href="#">潜入城市周边清幽之地</a></h2>
              <tt><a target="_blank" href="#">北京上海广州成都周边总有些人少清幽的地方等着你去探</a></tt> </dd>
          </dl>
          <dl class="show">
            <dt><a target="_blank" title="" href="#"><img alt="盘点中国最美雪山" src="images/toy_site/w3.jpg"></a></dt>
            <dd>
              <h2><a target="_blank" href="#">盘点中国最美雪山</a></h2>
              <tt><a target="_blank" href="#">盘点中国最美雪山从云南的梅里到西藏的珠穆朗玛带你领略中国</a></tt> </dd>
          </dl>
          <dl class="">
            <dt><a target="_blank" title="" href="#"><img alt="2011西安世园会攻略" src="images/toy_site/w4.jpg"></a></dt>
            <dd>
              <h2><a target="_blank" href="#/">2011西安世园会攻略</a></h2>
              <tt><a target="_blank" href="#">提供最全面西安世园会资讯西安世园会参观指南西安世园会旅游</a></tt> </dd>
          </dl>
          <dl class="">
            <dt><a target="_blank" title="" href="#/"><img alt="五月乐享懒人天堂塞班岛" src="images/toy_site/w5.jpg"></a></dt>
            <dd>
              <h2><a target="_blank" href="#/jscss/">五月乐享懒人天堂塞班岛</a></h2>
              <tt><a target="_blank" href="#">塞班岛是北马里亚纳群岛的首府由于近邻赤道塞班岛一年四季如</a></tt> </dd>
          </dl>
        </div>
      </div>
    </div>
    <script type="text/javascript">movec();</script>
  </div>
