<dl>
  <dt><a href="#"><%= image_tag "demo.jpg"%></a>
  </dt>
  <dd><h4><a href="#">its category.name</a></h4>
  </dd>
  <dd>Price: $30-80</dd>
  <dd>score: **** </dd>
  <dd>
    <%= image_tag "pk_icon.png", :style=>" width: 60px; height: 18px" %>
    <%= image_tag "nav_icon.png", :style=>" width: 60px; height: 18px" %>
  </dd>
</dl>
