
<div class="tablist block">
  <ul class="note">
    <li> =========note note note </li>
    <li> =========note note note </li>
    <li> =========note note note </li>
    <li> =========note note note </li>
    <li> =========note note note </li>
  </ul>
  <table width="780" align="center" class="border" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <span id="product_info_style">
        <% items = Item.all %>
        <% items.each do | item | %>
          <%= render :partial => "items/details_of_an_item_in_index_page", :locals => {:item => item} %>
        <% end %>
        </span>
      </td>
    </tr>
    <tr align="right" height="30">
      <td><h4><a href="#">more</a></h4></td>
    </tr>
  </table>
<!-- tablist block ends -->
</div>
