<div class="item">
  <%= record_header(@item) %>
  <%# @setting[:item_page_type] ||= get_setting("item_page_type") %>

  <!-- commented out the original page -->
  <%# render :partial => "items/view_#{@setting[:item_page_type]}",
    :locals => {:item => @item, :plugins => Plugin.enabled} %>
</div>
